.product-img {
    width: 60%;
}

.product-name,
.product-price {
    display: block;
    text-decoration: none;
    color: #008f11
}

.product-link-wrapper {
    text-decoration: none;
}

.product-name:hover {
    text-decoration: underline;
}

.product-wrapper {
    padding: 1.2em;
    padding-top: 3em;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.product-wrapper:hover {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.5) 0px 2px 6px 2px;
}